/* Pick.css */
.pick-game {
    position: relative;
    text-align: center;
    height: 100vh;  /* Utilise toute la hauteur de la fenêtre */
    width: 100vw;   /* Utilise toute la largeur de la fenêtre */
    overflow: hidden; /* Empêche les débordements */
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garantit que l'image couvre tout l'espace sans déformation */
    z-index: -1; /* Place l'image derrière tout le contenu */
  }
  
  .button {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 1; /* Place les boutons devant l'image */
  }
  
  .wave-info {
    margin-top: 20px;
    z-index: 2; /* Place le texte au-dessus des boutons et de l'image */
  }
  
  img {
    width: 50px; /* Ajuste la taille des boutons */
    height: auto;
  }
  
  